[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pep8 = "*"
pylint = "*"
betamax = "*"
betamax-serializers = "*"
coverage = "*"
codecov = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
click = "*"
colorama = "*"
flit = "*"
keyring = "*"
netaddr = "*"
pyjsend = "*"
requests = "*"
secretstorage = "*"
url-normalize = "*"

[requires]
python_version = "3.7"
